@model IEnumerable<WebApp.Models.tbl_Category>
@{
    ViewBag.Title = "List";
}
<script>
    function confirmDetele() {
        return confirm("Are you sure delete this field!");
    }
</script>
<br /><br />
<h2 style="text-align:center">Category List Table</h2>
<br />
<div style="text-align:left">
    @Html.ActionLink("Create", "Create", "Crud", htmlAttributes: new { @class = "btn btn-primary", })
</div><br />
<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                @Html.ActionLink("Update", "Edit", "Crud", new {id = item.CategoryId}, htmlAttributes: new {@class="btn btn-info"})
                @Html.ActionLink("Delete", "Delete", "Crud", new { CategoryId = item.CategoryId}, htmlAttributes: new {@class="btn btn-danger",onclick= "return confirmDetele()" })
            </td>
        </tr>
    }
</table>

